In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('enhanced_sur_covid_19_eng.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15441 entries, 0 to 15440
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Case no.                          15441 non-null  int64
 1   Report date                       15441 non-null  object
 2   Date of onset                     15421 non-null  object
 3   Gender                            15435 non-null  object
 4   Age                               15435 non-null  object
 5   Name of hospital admitted         0 non-null      float64
 6   Hospitalised/Discharged/Deceased  15435 non-null  object
 7   HK/Non-HK resident                15435 non-null  object
 8   Classification*                   15435 non-null  object
 9   Case status*                      15441 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [4]:
df.head()

,Case no.,Report date,Date of onset,Gender,Age,Name of hospital admitted,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Classification*,Case status*
0,1,23/1/2020,21/1/2020,M,39,NaN,Discharged,Non-HK resident,Imported case,Confirmed
1,2,23/1/2020,18/1/2020,M,56,NaN,Discharged,HK resident,Imported case,Confirmed
2,3,24/1/2020,20/1/2020,F,62,NaN,Discharged,Non-HK resident,Imported case,Confirmed
3,4,24/1/2020,23/1/2020,F,62,NaN,Discharged,Non-HK resident,Imported case,Confirmed
4,5,24/1/2020,23/1/2020,M,63,NaN,Discharged,Non-HK resident,Imported case,Confirmed

In [5]:
# Remove unnecessary columns
df.drop(['Name of hospital admitted'], axis=1, inplace=True)

In [6]:
# Remove the deleted case
indexCase = df.loc[df['Case status*'] == 'Deleted'].index
df.drop(indexCase, inplace=True)

In [7]:
# Check any unusal values in age
df['Age'].unique()

array(['39', '56', '62', '63', '47', '68', '64', '73', '72', '37', '75',
       '80', '60', '25', '28', '55', '65', '58', '42', '24', '70', '91',
       '57', '22', '50', '51', '23', '69', '86', '52', '59', '71', '66',
       '43', '67', '41', '61', '54', '45', '46', '32', '83', '38', '48',
       '96', '76', '35', '33', '49', '21', '16', '29', '26', '89', '79',
       '84', '44', '36', '31', '1', '30', '18', '27', '34', '20', '12',
       '19', '40', '4', '13', '17', '15', '11', '74', '78', '7', '14',
       '77', '53', '<1', '2', '93', '6', '3', '8', '5', '10', '9', '85',
       '92', '95', '87', '90', '94', '82', '88', '81', '97', '100', '98',
       'Pending'], dtype=object)

In [12]:
# Replace the <1 to 1
df.loc[df['Age'] == '<1', 'Age'] = 1

# Remove the age column with 'pending' value
indexAge = df.loc[df['Age'] == 'Pending'].index
df.drop(indexAge, inplace=True)

df['Age'] = df['Age'].astype('int64')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15429 entries, 0 to 15440
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Case no.                          15429 non-null  int64
 1   Report date                       15429 non-null  object
 2   Date of onset                     15415 non-null  object
 3   Gender                            15429 non-null  object
 4   Age                               15429 non-null  int64
 5   Hospitalised/Discharged/Deceased  15429 non-null  object
 6   HK/Non-HK resident                15429 non-null  object
 7   Classification*                   15429 non-null  object
 8   Case status*                      15429 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.7+ MB

In [14]:
df.head()

,Case no.,Report date,Date of onset,Gender,Age,Hospitalised/Discharged/Deceased,HK/Non-HK resident,Classification*,Case status*
0,1,23/1/2020,21/1/2020,M,39,Discharged,Non-HK resident,Imported case,Confirmed
1,2,23/1/2020,18/1/2020,M,56,Discharged,HK resident,Imported case,Confirmed
2,3,24/1/2020,20/1/2020,F,62,Discharged,Non-HK resident,Imported case,Confirmed
3,4,24/1/2020,23/1/2020,F,62,Discharged,Non-HK resident,Imported case,Confirmed
4,5,24/1/2020,23/1/2020,M,63,Discharged,Non-HK resident,Imported case,Confirmed

In [23]:
df['Case status*'].value_counts()

Confirmed       14865
Asymptomatic      528
Re-positive        10
Pending             5
Unknown             1
Name: Case status*, dtype: int64

In [20]:
# Drop the resident pending status case
indexResident = df.loc[df['HK/Non-HK resident'] == 'Pending'].index
df.drop(indexResident, inplace=True)

In [ ]:
df.to_csv('cleaned_enhanced_sur_covid_19_eng.csv')